.main{
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding:70px 0  0  100px ;
  margin: 10px auto;
  flex-direction: column;
}
table{
  border-collapse:collapse ;
}


input{
  width: 100px;
  border: 1px solid red;
}
input:disabled{
  border: none;
 
}
 