.main{
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding:70px 0  0  100px ;
  margin: 10px auto;
  flex-direction: column;
}
table{
  border-collapse:collapse ;
}
tr{
  padding: 1rem;
}
td,th{
  padding: 1rem;
}